<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>API</title>
    <style type="text/css">
      span{
        font-size: 13px;
        font-weight: 300px;
      }
    </style>
  </head>
  <body>
    


    <div class="container">
      <div class="py-5 text-center">
       
        <h2>WEATHER API<hr></h2>
         
      </div>


     <div class="row">
       <div class="col-2"></div>
       <div class="col-8">
         <form class="form-inline" action="{% url 'default-page' %}" method="POST" id="WeatherForm">
      {% csrf_token %}
      <div class="form-group mb-2">
        <label for="city" class="">City</label>
        <input type="text" name="city" class="form-control" id="city" placeholder="e.g Capetown" required="">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="periods" class="">Period</label>
        <select class="form-control">
          {% for p in periods %}
          <option value="{{p.period_name}}">{{p.period_name}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Get Forecast</button>
      <button class="btn btn-dark buttonprocessing" type="button" disabled style="display: none;">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      processing...
      </button>
    </form>
       </div>
       <div class="col-2"></div>
     </div>

     

     <br>
      <div class="row">
       <div class="col-1"></div>
       <div class="col-9">
        
        <div class="card">
          <div class="card-body">
            <div class="media">
              <img class="mr-3" id="weather_icon"  src="https://img.icons8.com/cute-clipart/2x/cloud.png" alt="img" style="width: 50px; height: 50px;">
              <div class="media-body">
                <h2 class="mt-0" id="city_name"></h2>
                 <span id="min_temp"></span> &nbsp;&nbsp;&nbsp;&nbsp;<span id="max_temp"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="av_temp"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="mean_temp"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="humidity"></span>
              </div>
            </div>
          </div>
        </div>
        <br>

       </div>
       <div class="col-1"></div>
     
      </div>

     
     <div class="row">
       <div class="col-2"></div>
       <div class="col-8">
        <h2>Bar Graph</h2>
        <canvas id="myChart"></canvas> 
       </div>
       <div class="col-2"></div>
     </div>


      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    
    <script type="text/javascript">
      
  $("#WeatherForm").on('submit', function(e){
      e.preventDefault();

      var form = $(this);

      $(document).ajaxSend(function(){
         form.find(':submit').hide();
         form.find('.buttonprocessing').show();
      });

       $(document).ajaxComplete(function(){
         form.find(':submit').show();
         form.find('.buttonprocessing').hide();
      });


      $.ajax({ 
                data: $(this).serialize(), 
                type: $(this).attr('method'), 
                url:  $(this).attr('action'), 
                success: function(data) {
                  console.log(data)
                 
                  var icon ='';
                  var city = '';
                  var min_temp=0.00;
                  var max_temp=0.00;
                  var av_temp =0.00;
                  var median_temp = 0.00;
                  var humidity = 0.00;
                 
                 var graph_data = [data['min_temp'],data['max_temp'],data['average_temp'],data['median_temp'],data['humidity']];
                 
                  $(document).find("#city_name").html(data['city']);
             
                  $(document).find("#min_temp").html("Min Temp: "+data['min_temp']+'&#176;F');
                  $(document).find("#max_temp").html("Max Temp: "+data['max_temp']+'&#176;F');
                  $(document).find("#av_temp").html("Average Temp: "+data['average_temp']+'&#176;F');
                  $(document).find("#mean_temp").html("Median Temp: "+data['median_temp']+'&#176;F');
                  $(document).find("#humidity").html("Humidity: "+data['humidity']+'&#176;F');
                  $(document).find("#weather_icon").attr("src",data['icon']+'.png');

                  GrapFunction(graph_data);
                }
            });
            return false;

    });
  



function GrapFunction(graph_data){


     // Graphs
  var ctx = document.getElementById('myChart');
  // eslint-disable-next-line no-unused-vars
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        'Min Temp',
        'Max Temp',
        'Average Temp',
        'Median Temp',
        'Humidity',
        
      ],
      datasets: [{
        data:graph_data,
        lineTension: 0,
        backgroundColor: 'rgba(0, 255, 0, 0.3)',
        borderColor: 'rgba(0, 255, 0, 0.3)',
        borderWidth: 0,
        pointBackgroundColor: '#007bff',
        
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false
      }
    }
  })
}



function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 5; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
    </script>
  </body