<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>API</title>
  </head>
  <body>
    


    <div class="container">
      <div class="py-5 text-center">
       
        <h2>WEATHER API<hr></h2>
         
      </div>


     <div class="row">
       <div class="col-2"></div>
       <div class="col-8">
         <form class="form-inline" action="{% url 'default-page' %}" method="POST" id="WeatherForm">
      {% csrf_token %}
      <div class="form-group mb-2">
        <label for="city" class="">City</label>
        <input type="text" name="city" class="form-control" id="city" placeholder="e.g Capetown" required="">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="periods" class="">Period</label>
        <select class="form-control">
          {% for p in periods %}
          <option value="{{p.period_name}}">{{p.period_name}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Search</button>
      <button class="btn btn-dark buttonprocessing" type="button" disabled style="display: none;">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      processing...
      </button>
    </form>
       </div>
       <div class="col-2"></div>
     </div>

 

     <br>
      <div class="row">
       <div class="col-2"></div>
       <div class="col-8">
        
        <div class="card">
          <div class="card-body">
            <div class="col-1"><i class="fa fa-trash"></i></div>
          </div>
        </div>
        <br>

       </div>
       <div class="col-2"></div>
     
      </div>

     
     <div class="row">
       <div class="col-2"></div>
       <div class="col-8">
        <h2>Bar Graph</h2>
        <canvas id="myChart"></canvas> 
       </div>
       <div class="col-2"></div>
     </div>


      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017-2018 Company Name</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
      </footer>
    </div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    
    <script type="text/javascript">
      
  $("#WeatherForm").on('submit', function(e){
      e.preventDefault();

      var form = $(this);

      $(document).ajaxSend(function(){
         form.find(':submit').hide();
         form.find('.buttonprocessing').show();
      });

       $(document).ajaxComplete(function(){
         form.find(':submit').show();
         form.find('.buttonprocessing').hide();
      });


      $.ajax({ 
                data: $(this).serialize(), 
                type: $(this).attr('method'), 
                url:  $(this).attr('action'), 
                success: function(data) {
                 
                  console.log(data);
                }
            });
            return false;

    });
  


   // Graphs
  var ctx = document.getElementById('myChart');
  // eslint-disable-next-line no-unused-vars
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
        'Sunday',
        'Monday',
        'Tuesday',
        'Wednesday',
        'Thursday',
        'Friday',
        'Saturday'
      ],
      datasets: [{
        data: [
          15339,
          21345,
          18483,
          24003,
          23489,
          24092,
          12034
        ],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false
      }
    }
  })

    </script>
  </body